# SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
# SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
version: '3.8'
networks:
  monitoring: # A bridge network is used, so that the container name can be used as the network name.
    driver: bridge
    internal: true # Traffic to the internet is blocked, as there is no need for that, and it may lead to leaks of private data.
services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    networks:
      - monitoring
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - ./grafana-config/provisioning:/etc/grafana/provisioning
      - ./grafana-config/dashboards:/var/lib/grafana/dashboards
      - grafana-data:/var/lib/grafana
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    depends_on:
      - prometheus
    networks:
      - monitoring
    ports:
      - "9100:9100"
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus-data'
      - '--web.enable-lifecycle'
    networks:
      - monitoring
    ports:
      - "9091:9090" # 9090 Is already used for cockpit.
    restart: unless-stopped
    volumes:
      - ./prometheus-config:/etc/prometheus
      - prometheus-data:/prometheus-data
  pyroscope:
    # https://grafana.com/docs/pyroscope/latest/configure-client/grafana-alloy/java/
    # https://grafana.com/docs/pyroscope/latest/configure-client/language-sdks/java/
    # https://grafana.com/docs/pyroscope/latest/configure-client/grafana-alloy/ebpf/setup-docker/
    image: grafana/pyroscope:latest
    container_name: pyroscope
    command:
      - '--config.file=/etc/pyroscope/pyroscope.yml'
    networks:
      - monitoring
    ports:
      - "4040:4040"
    volumes:
      - ./pyroscope-config:/etc/pyroscope
volumes:
  grafana-data: {}
  prometheus-data: {}